@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'
);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}


/* HOME SECTION */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    height: 30vw;
    width: 30vw;
    margin-left: 80px;
    border-radius: 125rem;
    filter: drop-shadow(5px 5px 10px rgb(51, 208, 233));
    transition: .3s ease;
    animation: floating 5s ease-in-out infinite;
}

.home-img img:hover {
    transform: scale(1.35);
    cursor: pointer;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h2 {
    font-size: 3.4rem;
    font-weight: 700;
}

.home-content h2:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h2 span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 715;
    line-height: 1.4;
    font-style: oblique;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 0.8rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    box-shadow: none;
}


/* ABOUT SECTION */

.about {
    padding: 160px 40px;
    background: var(--second-bg-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-img {
    flex-basis: 35%;
}

.about-img img {
    height: 29vw;
    width: 29vw;
    border-radius: 175rem;
    filter: drop-shadow(5px 5px 10px rgb(0, 217, 255));
    transition: .3s ease;
}

.about-img img:hover {
    transform: scale(1.35);
    cursor: pointer;
}

.about-content {
    flex-basis: 60%;
}

.about-content h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
}

.about-content h1 span {
    color: var(--main-color);
}

.about-content p {
    font-size: 15px;
}

.tab-titles {
    display: flex;
    margin: 30px 0;
}
.tab-titles p {
    margin-right: 50px;
    font-size: 22px;
    font-weight: 550;
    cursor: pointer;
    position: relative;
}

.tab-links:hover,
.tab-links.active-link {
    color: var(--main-color);
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 12.5px;
}

.tab-contents ul li span {
    color: rgb(101, 216, 225);
    font-size: 15.5px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* SERVICES SECTION */

.services {
    padding: 90px 45px;
}

.sub-title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
}

.sub-title span {
    text-align: center;
    color: var(--main-color);
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px;
}

.services-list div {
    background: var(--second-bg-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 500;
    border: .2rem solid var(--bg-color);
    border-radius: 15px;
    text-align: center;
    transition: .5s ease;
}

.services-list div:hover {
    border-color: var(--main-color);
    background: #87ccdc;
    color: var(--bg-color);
    transform: translateY(-15px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 20px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    margin-top: 18px;
    display: inline-block;
}

.services-list div a:hover {
    color: var(--bg-color);
}


/* PROJECTS SECTION  */

.projects {
    background: var(--second-bg-color);

}

.heading {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 4rem;
}

.heading span {
    text-align: center;
    color: var(--main-color);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    align-items: center;
}

.projects-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .3s ease;
}

.project-box:hover img {
    transform: scale(1.25);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .3s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* CONTACT SECTION */

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
    font-size: 20px;
}

.contact-left p i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-right form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-right form .input-box input,
.contact-right form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact-right form .input-box input {
    width: 49%;
}

.contact-right form textarea{
    resize: none;
}

.contact-right form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

#msg{
    font-size: 1.2rem;
    color: #61b752;
    margin-top: -10px;
    display: block;
}



/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .3s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/* RESPONSIVE SECTION */

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 60vw;
        height: 60vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 50vw;
        height: 50vw;
        margin-bottom: 4rem;
        align-items: center;
    }

    .services .container h1 {
        margin-bottom: 3rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 475px) {
    html {
        font-size: 50%;
    }
    .contact .contact-right form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 70vw;
        height: 70vw;
    }

    .about-img img {
        width: 70vw;
        height: 70vw;
        align-items: center;
    }

    .footer {
        flex-direction: column-reverse;
    }
    
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}